@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --dark-gray: hsl(212, 22%, 77%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  
  
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--light-gray);
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 375px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 5px 10px 20px var(--dark-gray);
}

.img {
  padding: 5.33%;
}

h1 {
  color: var(--dark-blue);
  margin-bottom: 20px;
  text-align: center;
}

p {
  color: var(--grayish-blue);
  font-size: 15px;
  text-align: center;
}

.content {
  padding: 0px 10.66% 40px 10.66%;
}
